body {
  background-color: #e4a0a0;
  margin: 0%;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  display: none;
}
header{
  margin-top: 50px;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
section {
  justify-content: center;
  height: 80vh;
  width: 100vh;
  margin: 10vh auto;
  background-color: aquamarine;
}
#label{
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
}
.description-box{
  width: 100%;
}
.description{
  border-radius: 20px;
  width: 80%;
  height: 60px;
  margin: 10px 85px ;
}
.info{ 
  margin: 10px 100px ;
  display: flex;
}
#category{
  margin-left: 100px;
}
#date{
  width: 326px;
}