body {
  background-color: #e4a0a0;
  margin: 0%;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  display: none;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
section {
  justify-content: center;
  height: 80vh;
  width: 100vh;
  margin: 10vh auto;
  background-color: aquamarine;
}
.form-label{
  display: flex;
  flex-direction: column;
  margin: 10px 85px;
}
.description-box{
  margin-top: 100px;
  width: 80%;
  height: 60px;
}
.description{
  border-radius: 20px;
  width: 100%;
  height: 60px;
  margin: 10px 85px ;
}
/* #add-button{ 
  display: flex;
  justify-content: center;
} */